body {
  background-color: rgb(224, 218, 218);
  margin: 0;
  border: 0;
}

.title-header {
  padding-bottom: 100px;
  background-color: rgb(252, 252, 255);
  border-radius: 10px;
}

h1 {
  padding-left: 3rem;
  padding: 30px;
  margin: auto;
}

.left-side{
  float: left;
}

.right-side li {
  list-style-type: none;
  float: right;
  margin: 30px;
  padding-right: 20px;
  font-size: 1.5rem;
}

button {
  display: inline-block;
  background-color: rgb(240, 240, 37);
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 16px;
  width: 160px;
  padding: 12px;
  margin: 10px;
}

button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.product-line {
  display: inline-flex;
  grid-template-columns: 1fr 1fr;
  gap: 1px 2em;
}

.product-desc {
  padding-left: 1rem;
}

.price-tag {
  padding-left: 1rem;
  padding-right: 1rem;
}

.product-image {
  padding-top: 2rem;
}

.product-buy {
  border: 1px solid;
  border-radius: 5px;
  padding-bottom: 20px;
  margin: 7px;
  background-color: rgb(252, 252, 255);
}