body {
  background-color: rgb(224, 218, 218);
  margin: 0;
  border: 0;
}

h1 {
  text-align: center;
  background-color: rgb(252, 252, 255);
  padding: 30px;
  margin: auto;
  border-radius: 10px;
}

button {
  display: inline-block;
  background-color: rgb(240, 240, 37);
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 16px;
  width: 160px;
  padding: 12px;
}

button:hover {
  cursor: pointer;
  opacity: 0.6;
}